@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #434750;

}

ul {
    position: relative;
    transform: skewY(-15deg);
}

ul li {
    position: relative;
    list-style: none;
    width: 180px;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;
    z-index: calc(1 * var(--i));
}

ul li:hover {
    transform: translateX(-50px);
    background: var(--clr);
}

ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #3e3f46;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.9s
}

ul li :hover::before {
    background: var(--clr);
    filter: brightness(0.7);
}

ul li::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: var(--clr);
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 00.5s
}

ul li :hover::after {

    filter: brightness(0.9);
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li span {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1.25em;
}

ul li:hover span {
    opacity: 1;
}